body{
    background: radial-gradient(circle at 60% 40%, #f8f9fa 0%, #b3c0c4 40%, #f1f3f4 70%, #dee2e6 90%, #f8f9fa 100%);
    animation: gradientBG 18s ease infinite;
    background-size: 200% 200%;
    min-height: 100vh;
    margin: 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-text{
    margin-top: 10px; 
    font-size: 14px; 
    text-align: center;
}

.footer-social{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.footer-social a{
    margin: 0 10px; 
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer{
    padding: 20px 0;
    margin-top: auto; 
    text-align: center; 
    width: 100%;
}

.header-title{
    padding-top: 90px;
    font-family: "Doto", sans-serif;
    font-size: 2.5rem;
    text-shadow: #474d4e 0px 0px 20px;
}

section{
    opacity: 20;
    display: none;
    filter: grayscale(2);
}

section.active{
    display: block;
    transform: scale(0.96);
    filter: grayscale(1);
    animation: zoomInBody 1.9s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

a{
    font-family: "Roboto", sans-serif;
}

.footer_link{
    font-family: "Doto", sans-serif;
    font-weight: bolder;
    font-size: var(--text-minor);
    text-decoration: none;
}

.footer_link:hover{
    transition: 0.4s;
    color: rgb(53, 117, 53);
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
}

p.footer_text{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #000000;
    text-shadow: #21292b88 0px 3px 12px;
}

p{
    font-family: "Roboto", sans-serif;
    text-shadow: var(--shadow-text);
}




#mini-about {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    text-shadow: #21292b88 0px 3px 12px;
    margin-top: 16px;
}




.navicon {
    transition: transform 0.2s;
}

.navicon:hover {
    transform: scale(1.2);
}

.header {
    padding-top: 32px;
    padding-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .header {
        padding-top: 26px;
        align-items: center;
    }

    .header-title {
        font-size: 1.8rem;
        text-align: center;
    }
    

    .hero_image{
        width:100%;
        height: 100%;
    }
}

@keyframes zoomInBody {
    to {
        opacity: 1;
        transform: scale(1);
        filter: grayscale(0);
    }
}

@keyframes zoomInBody_nav {
    to {
        opacity: 1;
        transform: scale(1);
        filter: grayscale(0);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 60% 40%;
    }
    50% {
        background-position: 40% 60%;
    }
    100% {
        background-position: 60% 40%;
    }
}


.hero-content {
  display: flex;
  flex-direction: column; /* Mobile first: empilha */
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 20px;
}

.hero-image-container img {
  max-width: 100%;
  height: auto;
}

.hero-text {
  text-align: center;
}

/* Para telas maiores (desktop) */
@media screen and (min-width: 768px) {
  .hero-content {
    display: flex; /* Lado a lado */
    align-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 0rem;
    
  }

  .hero-text {
    flex: 1;
    text-align: left;
  }

  .hero-image-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
  }
}