:root{
    --font-family-base: "Roboto", sans-serif;
    --font-family-condensed: "Roboto Condensed", sans-serif;
    --font-family-mono: "Roboto Mono", sans-serif;
    --font-family-header: "Doto", sans-serif;

    /* Colors */
    --color-primary: rgb(73, 92, 73);
    --color-secondary: rgb(108, 116, 108);
    --color-transparent: rgba(187.27, 192.32, 195.23, 0.2);
    --color-transparent-dark: rgba(45, 59, 49, 0.158);
    --color-transparent-opaque: rgba(187, 192, 195, 0.466);
    --color-text: #333533;
    --color-muted: #6b6b6bd0;
    
    /* Spacing Rules*/
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* Borders */
    --border-radius: 18px;

    /* Text Sizes */
    --text-even-minor: 0.58rem;
    --text-minor: 0.875rem;
    --text-header-minor: 1.3rem;
    --text-header: 2.5rem;
    --text-regular: 1rem;

    /* Shadows */
    --shadow-text: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-headings: 0 2px 4px rgba(0, 0, 0, 0.15);
    --shadow-surfaces: 0 4px 24px rgba(0,0,0,0.08);
}