*{
    font-family: "Arial Nova", sans-serif;
}

.navbar-toggler{
  border: none;
}

.nav-custom{
    background-color: rgba(255, 255, 255, 0.862)!important;  
    backdrop-filter: blur(10px);
}

.rounded-cardz{
    border-radius: 0px;
}

section {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.huve,.nav-link:hover{
    color: rgb(0, 0, 0);
    /*animation: fadeOut 1s ease-in-out forwards;*/
}

#translate-ptBR, #translate-en{
  cursor: pointer;
}

#hero-btn1{
  background-color: white;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

#hero-btn1:hover{
  background-color: black;
  border-color: black;
  color: white;
}

@keyframes wiggle {
0%, 7% {
transform: rotateZ(0);
}
15% {
transform: rotateZ(-15deg);
}
20% {
transform: rotateZ(10deg);
}
25% {
transform: rotateZ(-10deg);
}
30% {
transform: rotateZ(6deg);
}
35% {
transform: rotateZ(-4deg);
}
40%, 100% {
transform: rotateZ(0);
}
}


#filling{
  height: 100px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#euSouUm{
  color: black;
  text-decoration:underline;
  font-style: italic;
  line-height: 3rem;
}

#aboutBanner{
  background-color: rgb(255, 255, 255);
}

#modal-btn-linkedin{
  color: #000000;
  border-color: #000000;
}

#modal-btn-linkedin:hover{
  color: white;
  background-color: #0077b5;
  border-color: #0077b5;
}

#modal-btn-behance{
  color: #000000;
  border-color: #000000;
}

#modal-btn-behance:hover{
  color: white;
  background-color: #053eff;
  border-color: #053eff;
}

#modal-btn-whatsapp{
  color: #000000;
  border-color: #000000;
}

#modal-btn-whatsapp:hover{
  color: white;
  background-color: #128C7E;
  border-color: #128C7E;
}

.nav-link.active:not(#talktome_link) {
  color: #000000!important;
  font-weight: 400;
}

#talktome_link:hover{
  cursor: pointer;
  color: rgb(203, 0, 54)!important;
  font-weight: 400;
}

.smoothtext{
  color:dimgray;
}